.ct-search-bar {
  height: 40px;
  display: flex;
}
.ct-search-bar input {
  padding: 0 15px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--ct-color-font-placeholder);
  border-right: none;
}
.ct-search-bar input::placeholder {
  color: var(--ct-color-font-placeholder);
}
.ct-search-bar input:focus {
  outline: none;
}
.ct-form-control {
  width: 100%;
  height: 40px;
}
.ct-search-bar-submit {
  background-color: var(--ct-color-bg-terciary);
  color: var(--ct-color-font-quartenary);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 77px;
  border-radius: 0 5px 5px 0;
  border: none;
}
